/* 覆盖你需要的变量 */
@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $bg-color: (
    "page": #0a0a0a,
    "": #626aef,
    "overlay": #1d1e1f,
  )
);

@use "./variables.scss" as *;
@use "./view-transition.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': green,
//     ),
//   ),
// );

/* Your custom styles here */
html {
  height: 100%;
  /* 灰色模式 */
  &.grey-mode {
    filter: grayscale(1);
  }
  /* 色弱模式 */
  &.color-weakness {
    filter: invert(0.8);
  }
}

body {
  height: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}
